<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Demo01</servlet-name>
  	<display-name>Demo01</display-name>
  	<description></description>
  	<servlet-class>cl.fuentes.servlet.Demo01</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Demo02</servlet-name>
  	<display-name>Demo02</display-name>
  	<description></description>
  	<servlet-class>cl.fuentes.servlet.Demo02</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Demo01</servlet-name>
  	<url-pattern>/Demo01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Demo02</servlet-name>
  	<url-pattern>/Demo02</url-pattern>
  </servlet-mapping>
</web-app>
